<%- if code == 'unknown' -%>
  console.log('code is unknown');
  $('form[name=CheckCodeForm] input.actionBtnSmall')[0].click();

<%- else -%>
  $('input[name=imgCode]').val('<%= code %>');
  $('form[name=CheckCodeForm] input.actionBtnContinue')[0].click();
<%- end -%>
