<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css" media="screen">
      body {
        background-color: #333;
        color: #fff;
        font-family: arial, sans-serif;
        zoom: 1.2;
      }
      table tr td { border-top-color: transparent !important; }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <h1>Leisure Link Booking</h1>
      <div style="margin: 20px 0 40px; text-align: left; width: 600px; display: inline-block">

        <%- if defined?(msg) -%>
          <p><%= msg %></p>
        <%- end -%>

        <%=yield%>

      </div>
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
      });
    </script>
  </body>
</html>
