
function run(facilityHint, typeHint, timeHint, areaHint, venueHint, slots) {
  if (window.selTimeout) { clearTimeout(window.selTimeout); }
  var runDeferred = jQuery.Deferred();

  var $mainFrame = $($('frame[name=main]')[0].contentDocument);

  function waitForSelector(selector) {
    var dfd = jQuery.Deferred();

    if (window.selTimeout) { clearTimeout(window.selTimeout); }

    window.selTimeout = function() {
      console.log('checking ' + selector);
      if ($mainFrame.find(selector).length != 0) {
        dfd.resolve('yeah');
      } else {
        setTimeout(window.selTimeout, 500);
      }
    }
    setTimeout(window.selTimeout, 500);

    return dfd.promise();
  }

  var fillIn = function(id, hint) {
    var $control = $mainFrame.find('#' + id + ' select');
    var val = $control.children('option:contains("' + hint + '")').val();
    $control.val(val).trigger('change');
  }

  fillIn('sessionTimePanel', timeHint);
  fillIn('facilityPanel', facilityHint);

  var timeslotQuery = '#searchResultTable tbody:first td.timeslotCellPeak:visible, #searchResultTable tbody:first td.timeslotCellNonPeak:visible';

  $.when(waitForSelector('#facilityTypePanel select option:not(:contains(loading))'))
    .then(function(status) {
      console.log('filling facility type');
      fillIn('facilityTypePanel', typeHint);
      return waitForSelector('#areaPanel select option:not(:contains(loading))');
    })
    .then(function(status) {
      console.log('filling area');
      fillIn('areaPanel', areaHint);
      return waitForSelector('#preference1\\.venuePanel select option:not(:contains(loading))');
    })
    .then(function(status) {
      console.log('filling venue and enquiry');
      fillIn('preference1\\.venuePanel', venueHint);
      $mainFrame.find('#searchButtonPanel input.actionBtnContinue').trigger('click');
      return waitForSelector(timeslotQuery);
    })
    .then(function(status) {
      console.log('filling timeslot');
      var $slots = $mainFrame.find(timeslotQuery);
      var result = $slots.map(function(i) {
        if (slots.indexOf(i) > -1) { // need to book
          var $checkbox = $(this).find('input');
          if ($checkbox.length === 1) {
            $checkbox.prop('checked', 'checked');
            return true;
          } else {
            return false;
          }
        } else { // not needed, pass anyway
          return true;
        }
      });
      if (result.toArray().indexOf(false) === -1) { // all passed
        console.log('all passed, go ahead');
        $mainFrame.find('#confirmButtonPanel input.actionBtnContinue').trigger('click');
        runDeferred.reject('nope');
      } else {
        console.log('failed, next');
        runDeferred.resolve('yeah');
      }
    });

  return runDeferred.promise();
}

$.when()
  <%- options.each { |o| -%>
    .then(function(status) {
      return run(<%= o.map(&:inspect).join(', ') %>);
    })
  <%- } -%>
