
<div style="min-height: 300px; margin-bottom: 50px;">
  <table class="table">
    <thead>
      <tr>
        <th>Configs</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- configs.each { |code| -%>
        <tr>
          <td><%= code %></td>
          <td style="text-align:right">
            <a href="/config/<%= code %>/select.js" class="btn btn-default btn-sm">
              <i class="fa fa-gear"></i>
              Script
            </a>

            <a href="/edit/<%= code %>" class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i>
              Open
            </a>
          </td>
        </tr>
      <%- } -%>
    </tbody>
  </table>
</div>


<hr />
<div style="text-align:right">
  <a href="/extension.zip" class="btn btn-default" target="_blank">
    <i class="fa fa-download"></i>
    Download Client
  </a>

  <a href="/new" class="btn btn-default">
    <i class="fa fa-pencil"></i>
    Create New Config
  </a>
</div>
