<%- editing = defined?(edit) -%>

<form action="/new" method="post" accept-charset="utf-8"
  enctype="multipart/form-data">

  <%- if editing -%>
    <input type="hidden" name="config[code]" value="<%= config['code'] %>">
  <%- end -%>

  <%- [
    ['code', 'e.g. Badminton 8pm'],
    ['facility', ['Badminton', 'Tennis Court', 'Basketball', 'Volleyball', 'Football', 'Activity',
      'Dance', 'Table Tennis', 'Squash', 'Golf', 'Pool', 'Rugby', 'Hockey', 'Bowling',
      'Climbing', 'Sailing', 'Windsurfing', 'Canoeing', 'Netball', 'Baseball', 'Archery',
      'Cricket', 'Cycling']],
  ].each { |code, options, label| -%>
    <%- next if code == 'code' && editing -%>
    <div class="form-group">
      <label><%= label || code.capitalize %></label>
      <div class="relative">
        <%- if options.is_a?(Array) -%>
          <select name="config[<%= code %>]" class="form-control">
            <%- options.each { |o| -%>
              <option value="<%= o %>"
                <%= 'selected' if defined?(config) && config[code].to_s == o.to_s %>
                ><%= o %></option>
            <%- } -%>
          </select>
        <%- else -%>
          <input type="text" class="form-control"
            name="config[<%= code %>]" value="<%= defined?(config) ? config[code] : '' %>"
            required="required"
            placeholder="<%= options %>"
          >
        <%- end -%>
      </div>
    </div>
  <%- } -%>


  <div class="form-group">
    <label>Options</label>
    <%- default_options = 'A/C, Yau Tsim Mong, Kowloon Park, 19-21, 1' -%>
    <div class="relative">
      <textarea name="config[options]" class="form-control"
        style="height: 400px"
        ><%= editing ? config['options'] : default_options %></textarea>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <%- if editing -%>
        <a href="/?delete=<%= config['code'] %>" class="btn btn-danger">
          <i class="fa fa-trash"></i>
          Delete
        </a>
    <%- end -%>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <p style="text-align:right">
        <a href="/" class="btn btn-default">Back</a>
        <input type="submit" class="btn btn-default" value="<%= editing ? 'Update' : 'Create' %>">
      </p>
    </div>
  </div>
</form>
